@model QuestionAnswer
@{
    ViewData["Title"] = "Test";
    Layout = "_Layout";
}

<p>
    <a asp-action="Test">Test Started</a>
</p>




@switch (Model.Opcode)
{



    case "Count":




        <h1>Count</h1>
        for (int j = 0; j < Model.firstoperand; j++)
        {
            <img src="~/images/image/@Model.ImageName" width="80" height="80" />
            ;



        }
        <div class="form-group col-md-6">
            <form asp-action="Index" asp-controller="Test">
                <input asp-for="UserAnswer" type="text" value="" class="form-control" />

                <input asp-for="UserAnswer" type="submit" value="Submit" id="save" class="btn-outline-dark" />

                <input type="hidden" asp-for="questionid" />



            </form>


        </div>


        break;

    case "Compare":


        <h1>Compare The Largest Numbers</h1>
        <h2> @Model.firstoperand         @Model.secondoperand</h2>
        <div class="form-group col-md-6">
            <form asp-action="Index" asp-controller="Test">
                <input asp-for="UserAnswer" type="text" value="" class="form-control" />

                <input asp-for="UserAnswer" type="submit" value="Submit" id="save" class="btn-outline-dark" />
                <input type="hidden" asp-for="questionid" />


            </form>

        </div>

        break;

    case "+":


        <h1>Add The Two Numbers</h1>
        <h2> @Model.firstoperand     @Model.Opcode    @Model.secondoperand</h2>
        <div class="form-group col-md-6">
            <form asp-action="Index" asp-controller="Test">
                <input asp-for="UserAnswer" type="text" value="" class="form-control" />

                <input asp-for="UserAnswer" type="submit" value="Submit" id="save" class="btn-outline-dark" />

                <input type="hidden" asp-for="questionid" />


            </form>

        </div>



        break;

    case "-":


        <h1>Subtract The Two Numbers</h1>
        <h2> @Model.firstoperand     @Model.Opcode    @Model.secondoperand</h2>
        <div class="form-group col-md-6">
            <form asp-action="Index" asp-controller="Test">
                <input asp-for="UserAnswer" type="text" value="" class="form-control" />

                <input asp-for="UserAnswer" type="submit" value="Submit" id="save" class="btn-outline-dark" />

                <input type="hidden" asp-for="questionid" />


            </form>

        </div>



        break;


}

