@model IEnumerable<Metrics.Models.Registration>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            
            <th>
                <a asp-action="Login" class="btn btn-outline-success">Login</a>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Password)
                @ViewData.ModelState
            </td>
            
            <td>
                <a asp-action="Login" asp-route-id="@item.RegistrationId"><i class="fa fa-marker fa-lg"></i>Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
